<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="Liberty Server">
    <featureManager>
        <feature>appSecurity-5.0</feature>
        <feature>faces-4.0</feature>
        <feature>servlet-6.0</feature>
        <feature>batch-2.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint" />
    <!-- end::httpEndpoint[] -->

    <!-- tag::location[] -->
    <include location="userRegistry.xml"/>
    <!-- end::location[]-->

    <authorization-roles id="com.ibm.ws.batch">
        <security-role name="batchAdmin">
            <user name="bob"/>
        </security-role>
    </authorization-roles>

    <application context-root="/" id="JBatchExample.war" location="JBatchExample.war"
                 name="JBatchExample.war" type="war">
        <!-- tag::application-bnd[] -->
        <application-bnd>
            <!-- tag::Security[] -->
            <!-- tag::security-role-admin[] -->
            <security-role name="admin">
                <!-- end::security-role-admin[] -->
                <!-- tag::Group[] -->
                <!-- tag::group-name-Manager[] -->
                <group name="Manager"/>
                <!-- end::group-name-Manager[] -->
                <!-- tag::group-name-TeamLead[] -->
                <group name="TeamLead"/>
                <!-- end::group-name-TeamLead[] -->
                <!-- end::Group[] -->
            </security-role>
        </application-bnd>
        <!-- end::application-bnd[] -->
    </application>
</server>
